.loginForm {
    border-radius: 10px;
    text-align: center;
    margin-top: 25%;
}

.form-body {
    margin-left: 65px;
    width: 305px;
    margin-bottom: 10px
}

.form-footer {
    margin-left: 10px;
}

.loginForm input,
.form-footer {
    border-radius: 5px;
}

.loginForm input {
    text-align: center;
    height: 4%;
}


.loginForm span {
    color: dimgray;
}

.frame-b,
.frame-c {
    background-color: #eeeeee;
}

.frame-b>div {
    padding-left: 20px;
}

.frame-c div {
    padding-top: 10px;
    padding-bottom: 20px;
}

.carasole-imp {
    overflow: hidden;
}